.main_container_add {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: end;
  align-items: center;
  margin-bottom: 34vh;
}

.custom_form {
  display: block;
  margin: 18vh auto 0px auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), -2px -2px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  height: auto;
  width: 50%;
  line-height: 38px;
  font-size: 1.2em;
}

.custom_title_add {
  display: block;
  font-size: 2em;
  font-weight: 800;
  text-align: center;
}

.custom_textarea {
  resize: none;
}

.custom_footer_add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom_add_button {
  margin-top: 20px;
  width: 30%;
  height: 30px;
  font-size: 1em;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .main_container_add {
    flex-direction: column;
  }

  .custom_form {
    margin: 18vh auto 0px auto;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .custom_form {
    width: 80%;
  }
}
